petapp/__pycache__/*
apps/core/__pycache__/*
apps/core/migrations/__pycache__/*
apps/tipos/__pycache__/*
apps/tipos/migrations/__pycache__/*
apps/servicos/__pycache__/*
apps/servicos/migrations/__pycache__/*
apps/clientes/__pycache__/*
apps/clientes/migrations/__pycache__/*
apps/animais/__pycache__/*
apps/animais/migrations/__pycache__/*
apps/contas/__pycache__/*
apps/contass/migrations/__pycache__/*
