{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar Cliente - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Cadastro de Cliente</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                   <label for="{{ form.nome.id_for_label }}">Nome</label>
                   {{ form.nome|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.endereco.id_for_label }}">Endereco</label>
                    {{ form.endereco|add_class:"form-control" }}
                 </div>
                 <div class="form-group">
                    <label for="{{ form.cpf.id_for_label }}">Cpf</label>
                    {{ form.cpf|add_class:"form-control" }}
                 </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}
