{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar Animais - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Cadastro de Animais</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="form-group">
                   <label for="{{ form.nome.id_for_label }}">Nome</label>
                   {{ form.nome|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.peso.id_for_label }}">Peso</label>
                    {{ form.peso|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.raca.id_for_label }}">Raca</label>
                    {{ form.raca|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.photo.id_for_label }}">Foto</label>
                    {{ form.photo|add_class:"form-control-file" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.doc.id_for_label }}">Documentos</label>
                    {{ form.doc|add_class:"form-control-file" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.cliente.id_for_label }}">Cliente</label>
                    {{ form.cliente|add_class:"form-control" }}
                </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}